
.bg-login-right {
    background-color: $color-login-right;
}
.btn.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;
}
.btn.btn-primary:hover,.btn.btn-primary:focus,.btn.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: $color-primary-hover;
    border-color: $color-primary-hover;
}
a {
    color: $color-primary;
}